/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	text-align: center;
	background: #242424;
	background: -webkit-linear-gradient(to bottom, #212121 0%, #ffffff 100%);
	background: -moz-linear-gradient(to bottom, #212121 0%, #ffffff 100%);
	background: linear-gradient(to bottom, #b56576 0%, #eaac8b 100%);
	height: 100vh;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 100%;
}

#level-title {
	font-family: "Rajdhani", sans-serif;
	font-weight: 800;
	font-size: 2.8rem;
	margin: 1%;
	color: rgb(255, 140, 140);
}

#level-text {
	font-family: "Rajdhani", sans-serif;
	font-weight: 800;
	font-size: 2rem;
	color: rgb(255, 140, 140);
	visibility: hidden;
	margin-top: 0;
}

@media screen and ((min-width: 1400px) and (min-height: 650px)) {
	.btn {
		margin: 25px;
		display: inline-block;
		height: 400px;
		width: 400px;
		border: 10px solid black;
		border-radius: 20%;
	}
}

@media screen and (max-width: 600px) {
	.btn {
		margin: 18px;
		border: 10px solid black;
		border-radius: 20%;
		height: 13vh !important;
		width: 80vw !important;
	}
	.row {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		height: 100%;
		width: 100%;
	}
	#level-title {
		font-size: 1.8rem;
	}
	#level-text {
		font-size: 1.2rem;
	}
	.containsText {
		height: 50px;
	}
	.play-button {
		width: 60vw;
		font-size: 1rem !important;
		margin-top: 25px;
	}
}
.containsText {
	width: 100%;
}
.btn {
	margin: 25px;
	display: inline-block;
	height: 180px;
	width: 200px;
}

.game-over {
	background: rgb(207, 135, 135) !important;
	background: -moz-radial-gradient(
		circle,
		rgb(207, 135, 135) 0%,
		rgb(191, 0, 0) 100%
	) !important;
	background: -webkit-radial-gradient(
		circle,
		rgb(207, 135, 135) 0%,
		rgb(191, 0, 0) 100%
	) !important;
	background: radial-gradient(
		circle,
		rgb(207, 135, 135) 0%,
		rgb(191, 0, 0) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffa9a9",endColorstr="#a52222",GradientType=1);
	opacity: 0.8 !important;
}

.red {
	background-color: red;
	-webkit-box-shadow: inset 1px 6px 12px rgb(255, 142, 142),
		inset -1px -10px 5px rgb(136, 0, 0), 1px 2px 1px rgb(40, 2, 2);
	-moz-box-shadow: inset 1px 6px 12px rgb(255, 142, 142),
		inset -1px -10px 5px rgb(100, 0, 0), 1px 2px 1px rgb(40, 2, 2);
	box-shadow: inset 1px 6px 12px rgb(255, 142, 142),
		inset -1px -10px 5px rgb(100, 0, 0), 1px 2px 1px rgb(40, 2, 2);
	color: white;
	text-shadow: 1px 1px 1px rgb(21, 1, 1);
	border: 4px solid rgb(30, 1, 1);
	border-radius: 20%;
}

.green {
	background-color: green;
	-webkit-box-shadow: inset 1px 6px 12px rgb(146, 255, 182),
		inset -1px -10px 5px rgb(11, 81, 41), 1px 2px 1px rgb(6, 45, 23);
	-moz-box-shadow: inset 1px 6px 12px rgb(146, 255, 182),
		inset -1px -10px 5px rgb(11, 81, 41), 1px 2px 1px rgb(6, 45, 23);
	box-shadow: inset 1px 6px 12px rgb(146, 255, 182),
		inset -1px -10px 5px rgb(11, 81, 41), 1px 2px 1px rgb(6, 45, 23);
	color: white;
	text-shadow: 1px 1px 1px black;
	border: 4px solid rgb(2, 20, 10);
	border-radius: 20%;
}

.blue {
	background-color: blue;
	-webkit-box-shadow: inset 1px 6px 12px rgb(202, 201, 255),
		inset -1px -10px 5px rgb(14, 25, 100), 1px 2px 1px rgb(5, 15, 34);
	-moz-box-shadow: inset 1px 6px 12px rgb(202, 201, 255),
		inset -1px -10px 5px rgb(14, 25, 100), 1px 2px 1px rgb(5, 15, 34);
	box-shadow: inset 1px 6px 12px rgb(202, 201, 255),
		inset -1px -10px 5px rgb(14, 25, 100), 1px 2px 1px rgb(5, 15, 34);
	color: white;
	text-shadow: 1px 1px 1px black;
	border: 4px solid rgb(7, 6, 27);
	border-radius: 20%;
}

.yellow {
	background-color: yellow;
	-webkit-box-shadow: inset 1px 6px 12px rgb(251, 255, 180),
		inset -1px -10px 5px rgb(119, 113, 6), 1px 2px 1px rgb(77, 77, 0);
	-moz-box-shadow: inset 1px 6px 12px rgb(251, 255, 180),
		inset -1px -10px 5px rgb(119, 113, 6), 1px 2px 1px rgb(77, 77, 0);
	box-shadow: inset 1px 6px 12px rgb(251, 255, 180),
		inset -1px -10px 5px rgb(119, 113, 6), 1px 2px 1px rgb(77, 77, 0);
	color: white;
	text-shadow: 1px 1px 1px black;
	border: 4px solid rgb(36, 36, 0);
	border-radius: 20%;
}

.pressedCpu {
	background-color: rgba(53, 53, 53, 0.856);
	opacity: 0.8;
}

.pressedUser {
	background-color: rgb(255, 255, 255);
	opacity: 0.8;
}

.glow {
	-webkit-box-shadow: 0px 0px 40px 6px rgba(29, 29, 29, 0.856);
	-moz-box-shadow: 0px 0px 40px 6px rgba(29, 29, 29, 0.856);
	box-shadow: 0px 0px 40px 6px rgba(29, 29, 29, 0.856);
}

.glowUser {
	-webkit-box-shadow: 0px 0px 25px 3px #e4e4e4;
	-moz-box-shadow: 0px 0px 25px 3px #e4e4e4;
	box-shadow: 0px 0px 25px 3px #e4e4e4;
	filter: brightness(120%);
}

.glow-fadeout {
	animation-name: fadeout;
	animation-duration: 0.8s;
}

@keyframes fadeout {
	0% {
		box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.91);
	}
	100% {
		box-shadow: none;
	}
}

.play-button {
	display: inline-block;
	background: #9bd4e4;
	color: #0784b5;
	font-size: 1.4em;
	font-weight: bold;
	padding: 0.5em 0.7em;
	line-height: 1;
	letter-spacing: 0.2rem;
	text-decoration: none;
	border: solid 2px rgba(255, 255, 255, 0.45);
	border-radius: 0.65em;
	text-shadow: 1px 1px #000;
	box-shadow: 0px 6px 0 2px #0784b5, 0 2px 0 2px #0784b5;
	transition: 0.15s ease-in;
	transform-origin: bottom;
	width: 150px;
	font-size: 1.3rem;
	margin-top: 10px;
	visibility: visible;
}
.play-button:hover {
	background: #cadeef;
	box-shadow: 0px 7px 0 2px #39ace7, 0 2px 0 2px #39ace7;
	transform: translate(0px, -1px);
}
.play-button:active {
	box-shadow: 0px 1px 0 1px #0784b5, 0 1px 1px 1px #0784b5;
	transform: translate(0px, 5px);
	transition: 0.08s ease-out;
}
